body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: #cccccc;
}

input,
button,
textarea {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background: #22c55e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

textarea {
    height: 300px;
    resize: vertical;
}
